TestChangeTech/UI/Silverlight/ChangeTech.Silverlight.PreviewPage/Service References/ChangeTechWCFService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPageDesignModelXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageDesignModelXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageDesignModelXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagePreviewModelXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagePreviewModelXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPagePreviewModelXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageDesignModelXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageContentXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageDesignModelXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>