TestChangeTech/UI/Silverlight/ChangeTech.Silverlight.DesignPage/Service References/ChangeTechWCFService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ChangeTech.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChangeTech.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="CropImageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BigImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="FileGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="NormalURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
      <xs:element minOccurs="0" name="XSet" type="xs:int" />
      <xs:element minOccurs="0" name="YSet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CropImageModel" nillable="true" type="tns:CropImageModel" />
  <xs:complexType name="ResourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BigResource" nillable="true" type="tns:ResourceModel" />
      <xs:element minOccurs="0" name="CropFromResourceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasProcessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOnServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramImageReference" nillable="true" type="tns:ArrayOfProgramImageReference" />
      <xs:element minOccurs="0" name="ResourceCategoryGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceModel" nillable="true" type="tns:ResourceModel" />
  <xs:complexType name="ArrayOfProgramImageReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramImageReference" nillable="true" type="tns:ProgramImageReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramImageReference" nillable="true" type="tns:ArrayOfProgramImageReference" />
  <xs:complexType name="ProgramImageReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionImageReference" nillable="true" type="tns:ArrayOfSessionImageReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramImageReference" nillable="true" type="tns:ProgramImageReference" />
  <xs:complexType name="ArrayOfSessionImageReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionImageReference" nillable="true" type="tns:SessionImageReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionImageReference" nillable="true" type="tns:ArrayOfSessionImageReference" />
  <xs:complexType name="SessionImageReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceCount" type="xs:int" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionImageReference" nillable="true" type="tns:SessionImageReference" />
  <xs:complexType name="PageUpdateForPageReviewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEditPageSequenceSelf" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUpdatePageSequence" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageUpdateForPageReviewModel" nillable="true" type="tns:PageUpdateForPageReviewModel" />
  <xs:complexType name="ScreenResultTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IllustrationImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q1:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="PageGraphic1GUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageGraphic2GUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageGraphic3GUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageLines" nillable="true" type="tns:ArrayOfScreenResultTemplatePageLineModel" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresenterMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenResultTemplatePageContentModel" nillable="true" type="tns:ScreenResultTemplatePageContentModel" />
  <xs:simpleType name="ImageModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PresenterMode" />
      <xs:enumeration value="FullscreenMode" />
      <xs:enumeration value="IllustrationMode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ImageModeEnum" nillable="true" type="tns:ImageModeEnum" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:GenderEnum" />
      <xs:element minOccurs="0" name="IsPaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSMSLogin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgramSecuirty" nillable="true" type="q2:ArrayOfKeyValueOfguidint" />
      <xs:element minOccurs="0" name="Security" type="xs:int" />
      <xs:element minOccurs="0" name="UserGroupGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="tns:UserTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:simpleType name="GenderEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Empty" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenderEnum" nillable="true" type="tns:GenderEnum" />
  <xs:simpleType name="UserTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="User" />
      <xs:enumeration value="Administrator" />
      <xs:enumeration value="Tester" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="ProjectManager" />
      <xs:enumeration value="ProgramAdministrator" />
      <xs:enumeration value="ProgramEditor" />
      <xs:enumeration value="SupportPersonell" />
      <xs:enumeration value="Translator" />
      <xs:enumeration value="Monitor" />
      <xs:enumeration value="Reseller" />
      <xs:enumeration value="HPReseller" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserTypeEnum" nillable="true" type="tns:UserTypeEnum" />
  <xs:simpleType name="ModelStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuestionNoChange" />
      <xs:enumeration value="QuestionUpdated" />
      <xs:enumeration value="QuestionDeleted" />
      <xs:enumeration value="QuestionAdded" />
      <xs:enumeration value="QuestionItemNoChange" />
      <xs:enumeration value="QuestionItemUpdated" />
      <xs:enumeration value="QuestionItemDeleted" />
      <xs:enumeration value="QuestionItemAdded" />
      <xs:enumeration value="ModelAdd" />
      <xs:enumeration value="ModelEdit" />
      <xs:enumeration value="ModelNoChange" />
      <xs:enumeration value="ModelDelete" />
      <xs:enumeration value="GraphItemAdded" />
      <xs:enumeration value="GraphItemUpdated" />
      <xs:enumeration value="GraphItemDeleted" />
      <xs:enumeration value="PageLineNoChange" />
      <xs:enumeration value="PageLineAdded" />
      <xs:enumeration value="PageLineUpdated" />
      <xs:enumeration value="PageLineDeleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModelStatus" nillable="true" type="tns:ModelStatus" />
  <xs:complexType name="ArrayOfScreenResultTemplatePageLineModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreenResultTemplatePageLineModel" nillable="true" type="tns:ScreenResultTemplatePageLineModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreenResultTemplatePageLineModel" nillable="true" type="tns:ArrayOfScreenResultTemplatePageLineModel" />
  <xs:complexType name="ScreenResultTemplatePageLineModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="PageGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="PageLineGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariable" nillable="true" type="tns:PageVariableModel" />
      <xs:element minOccurs="0" name="PageVariableGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenResultTemplatePageLineModel" nillable="true" type="tns:ScreenResultTemplatePageLineModel" />
  <xs:complexType name="PageVariableModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageVariableGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariableGroupGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariableType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfPageQuestionModel" />
      <xs:element minOccurs="0" name="UsedTimes" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageVariableModel" nillable="true" type="tns:PageVariableModel" />
  <xs:complexType name="ArrayOfPageQuestionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageQuestionModel" nillable="true" type="tns:PageQuestionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageQuestionModel" nillable="true" type="tns:ArrayOfPageQuestionModel" />
  <xs:complexType name="PageQuestionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemOrderList" nillable="true" type="tns:ArrayOfOrderObject" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="PageVariable" nillable="true" type="tns:PageVariableModel" />
      <xs:element minOccurs="0" name="QuestionGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SubItems" nillable="true" type="tns:ArrayOfPageQuestionItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageQuestionModel" nillable="true" type="tns:PageQuestionModel" />
  <xs:complexType name="ArrayOfOrderObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderObject" nillable="true" type="tns:OrderObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderObject" nillable="true" type="tns:ArrayOfOrderObject" />
  <xs:complexType name="OrderObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
      <xs:element minOccurs="0" name="PageQuestionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageResultLineGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderObject" nillable="true" type="tns:OrderObject" />
  <xs:complexType name="ArrayOfPageQuestionItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageQuestionItemModel" nillable="true" type="tns:PageQuestionItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageQuestionItemModel" nillable="true" type="tns:ArrayOfPageQuestionItemModel" />
  <xs:complexType name="PageQuestionItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Feedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageQuestionItemModel" nillable="true" type="tns:PageQuestionItemModel" />
  <xs:complexType name="EditPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPageSequenceUsedInOtherSession" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="tns:EditPageContentModelBase" />
      <xs:element minOccurs="0" name="PageMaterials" nillable="true" type="tns:PageMaterials" />
      <xs:element minOccurs="0" name="PageSequenceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramLanguages" nillable="true" type="tns:ArrayOfProgramLanguageModel" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditPageModel" nillable="true" type="tns:EditPageModel" />
  <xs:complexType name="EditPageContentModelBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="tns:PageTemplateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditPageContentModelBase" nillable="true" type="tns:EditPageContentModelBase" />
  <xs:complexType name="PageTemplateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageTemplateModel" nillable="true" type="tns:PageTemplateModel" />
  <xs:complexType name="EditStandardTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroudImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IllustrationImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
          <xs:element minOccurs="0" name="Media" nillable="true" type="tns:PageMediaModel" />
          <xs:element minOccurs="0" name="PresenterImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PresenterImageMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditStandardTemplatePageContentModel" nillable="true" type="tns:EditStandardTemplatePageContentModel" />
  <xs:complexType name="PageMediaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:ResourceModel" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageMediaModel" nillable="true" type="tns:PageMediaModel" />
  <xs:complexType name="EditScreenResultsTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroudImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IllustrationImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
          <xs:element minOccurs="0" name="PageGraphic1GUID" type="ser:guid" />
          <xs:element minOccurs="0" name="PageGraphic1Image" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PageGraphic2GUID" type="ser:guid" />
          <xs:element minOccurs="0" name="PageGraphic2Image" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PageGraphic3GUID" type="ser:guid" />
          <xs:element minOccurs="0" name="PageGraphic3Image" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PageLines" nillable="true" type="tns:ArrayOfScreenResultTemplatePageLineModel" />
          <xs:element minOccurs="0" name="PresenterImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PresenterMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondaryButtonCaption" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditScreenResultsTemplatePageContentModel" nillable="true" type="tns:EditScreenResultsTemplatePageContentModel" />
  <xs:complexType name="EditSMSTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DaysToSend" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageVariable" nillable="true" type="tns:SimplePageVariableModel" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditSMSTemplatePageContentModel" nillable="true" type="tns:EditSMSTemplatePageContentModel" />
  <xs:complexType name="SimplePageVariableModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageVariableGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimplePageVariableModel" nillable="true" type="tns:SimplePageVariableModel" />
  <xs:complexType name="EditPushPictureTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroudImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="IllustrationImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
          <xs:element minOccurs="0" name="Media" nillable="true" type="tns:PageMediaModel" />
          <xs:element minOccurs="0" name="PresenterImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Wait" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditPushPictureTemplatePageContentModel" nillable="true" type="tns:EditPushPictureTemplatePageContentModel" />
  <xs:complexType name="EditGetInfoTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroudImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FooterText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IllustrationImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
          <xs:element minOccurs="0" name="PageQuestions" nillable="true" type="tns:ArrayOfPageQuestionModel" />
          <xs:element minOccurs="0" name="PresenterImage" nillable="true" type="tns:ResourceModel" />
          <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PresenterMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionModel" />
          <xs:element minOccurs="0" name="SecondaryButtonCaption" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditGetInfoTemplatePageContentModel" nillable="true" type="tns:EditGetInfoTemplatePageContentModel" />
  <xs:complexType name="ArrayOfQuestionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionModel" nillable="true" type="tns:QuestionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionModel" nillable="true" type="tns:ArrayOfQuestionModel" />
  <xs:complexType name="QuestionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="HasSubItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionModel" nillable="true" type="tns:QuestionModel" />
  <xs:complexType name="EditAccountCreationTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CheckBoxText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageVariable" nillable="true" type="tns:SimplePageVariableModel" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RepeatPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SNText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditAccountCreationTemplatePageContentModel" nillable="true" type="tns:EditAccountCreationTemplatePageContentModel" />
  <xs:complexType name="EditGraphTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BadScoreRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GoodScoreRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GraphCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GraphGUID" type="ser:guid" />
          <xs:element minOccurs="0" name="GraphItem" nillable="true" type="tns:ArrayOfGraphItemModel" />
          <xs:element minOccurs="0" name="GraphType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MediumScoreRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScoreRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeRange" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeUnit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditGraphTemplatePageContentModel" nillable="true" type="tns:EditGraphTemplatePageContentModel" />
  <xs:complexType name="ArrayOfGraphItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphItemModel" nillable="true" type="tns:GraphItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphItemModel" nillable="true" type="tns:ArrayOfGraphItemModel" />
  <xs:complexType name="GraphItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="GraphItemModelGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphItemModel" nillable="true" type="tns:GraphItemModel" />
  <xs:complexType name="EditTimerTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageVariable" nillable="true" type="tns:SimplePageVariableModel" />
          <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditTimerTemplatePageContentModel" nillable="true" type="tns:EditTimerTemplatePageContentModel" />
  <xs:complexType name="EditChoosePreferencesTemplatePageContentModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EditPageContentModelBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaxPrefereneces" type="xs:int" />
          <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:ArrayOfPreferenceItemModel" />
          <xs:element minOccurs="0" name="PrimaryButtonName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditChoosePreferencesTemplatePageContentModel" nillable="true" type="tns:EditChoosePreferencesTemplatePageContentModel" />
  <xs:complexType name="ArrayOfPreferenceItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreferenceItemModel" nillable="true" type="tns:PreferenceItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreferenceItemModel" nillable="true" type="tns:ArrayOfPreferenceItemModel" />
  <xs:complexType name="PreferenceItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ButtonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:ResourceModel" />
      <xs:element minOccurs="0" name="Variable" nillable="true" type="tns:SimplePageVariableModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreferenceItemModel" nillable="true" type="tns:PreferenceItemModel" />
  <xs:complexType name="PageMaterials">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageTemplates" nillable="true" type="tns:ArrayOfPageTemplateModel" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageMaterials" nillable="true" type="tns:PageMaterials" />
  <xs:complexType name="ArrayOfPageTemplateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageTemplateModel" nillable="true" type="tns:PageTemplateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageTemplateModel" nillable="true" type="tns:ArrayOfPageTemplateModel" />
  <xs:complexType name="ArrayOfProgramLanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramLanguageModel" nillable="true" type="tns:ProgramLanguageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramLanguageModel" nillable="true" type="tns:ArrayOfProgramLanguageModel" />
  <xs:complexType name="ProgramLanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="language" nillable="true" type="tns:LanguageModel" />
      <xs:element minOccurs="0" name="program" nillable="true" type="tns:ProgramModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramLanguageModel" nillable="true" type="tns:ProgramLanguageModel" />
  <xs:complexType name="LanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysCount" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefaultLanguage" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDay" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageModel" nillable="true" type="tns:LanguageModel" />
  <xs:complexType name="ProgramModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysCount" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultLanguage" type="ser:guid" />
      <xs:element minOccurs="0" name="DefaultLanguageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCTPPEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHPOrderProgram" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInvisibleDayAndSetMenu" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInvisibleStartButton" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNeedPinCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoCatchUp" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOrderProgram" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSupportTimeZone" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameForDeveloper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfUsers" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramLogo" nillable="true" type="tns:ResourceModel" />
      <xs:element minOccurs="0" name="ProjectManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDay" type="xs:int" />
      <xs:element minOccurs="0" name="StatusGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" type="xs:decimal" />
      <xs:element minOccurs="0" name="languages" nillable="true" type="tns:ArrayOfProgramLanguageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramModel" nillable="true" type="tns:ProgramModel" />
  <xs:complexType name="PageSequenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountOfPages" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="InterventCategory" type="q3:KeyValuePairOfguidstring" />
      <xs:element minOccurs="0" name="InterventID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceID" type="ser:guid" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Predictor" type="q4:KeyValuePairOfguidstring" />
      <xs:element minOccurs="0" name="ProgramRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionContentID" type="ser:guid" />
      <xs:element minOccurs="0" name="UsedInProgram" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageSequenceModel" nillable="true" type="tns:PageSequenceModel" />
  <xs:complexType name="ArrayOfRelapseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelapseModel" nillable="true" type="tns:RelapseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelapseModel" nillable="true" type="tns:ArrayOfRelapseModel" />
  <xs:complexType name="RelapseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageSequenceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageSequenceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramRoomGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="RelapseGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelapseModel" nillable="true" type="tns:RelapseModel" />
  <xs:complexType name="EditExpressionGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpressionGroups" nillable="true" type="tns:ArrayOfExpressionGroupModel" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q5:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditExpressionGroupModel" nillable="true" type="tns:EditExpressionGroupModel" />
  <xs:complexType name="ArrayOfExpressionGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpressionGroupModel" nillable="true" type="tns:ExpressionGroupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpressionGroupModel" nillable="true" type="tns:ArrayOfExpressionGroupModel" />
  <xs:complexType name="ExpressionGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressionGroupGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionGroupModel" nillable="true" type="tns:ExpressionGroupModel" />
  <xs:complexType name="EditExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expressions" nillable="true" type="tns:ArrayOfExpressionModel" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q6:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditExpressionModel" nillable="true" type="tns:EditExpressionModel" />
  <xs:complexType name="ArrayOfExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpressionModel" nillable="true" type="tns:ExpressionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpressionModel" nillable="true" type="tns:ArrayOfExpressionModel" />
  <xs:complexType name="ExpressionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpressionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ExpressionGroupGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ExpressionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionModel" nillable="true" type="tns:ExpressionModel" />
  <xs:complexType name="ArrayOfProgramModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramModel" nillable="true" type="tns:ProgramModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramModel" nillable="true" type="tns:ArrayOfProgramModel" />
  <xs:complexType name="ArrayOfLanguageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageModel" nillable="true" type="tns:LanguageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageModel" nillable="true" type="tns:ArrayOfLanguageModel" />
  <xs:complexType name="PushPictureTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IllustrationImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoiceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Wait" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PushPictureTemplatePageContentModel" nillable="true" type="tns:PushPictureTemplatePageContentModel" />
  <xs:complexType name="TimerTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariableGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimerTemplatePageContentModel" nillable="true" type="tns:TimerTemplatePageContentModel" />
  <xs:complexType name="SMSTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysToSend" type="xs:int" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariableGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSTemplatePageContentModel" nillable="true" type="tns:SMSTemplatePageContentModel" />
  <xs:complexType name="EditPageVariableGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastSelectedPageVariable" nillable="true" type="tns:EditPageVariableModel" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q7:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableGroupModels" nillable="true" type="tns:ArrayOfPageVariableGroupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditPageVariableGroupModel" nillable="true" type="tns:EditPageVariableGroupModel" />
  <xs:complexType name="EditPageVariableModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PageVariableModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="modelStatus" type="tns:ModelStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditPageVariableModel" nillable="true" type="tns:EditPageVariableModel" />
  <xs:complexType name="ArrayOfPageVariableGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageVariableGroupModel" nillable="true" type="tns:PageVariableGroupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageVariableGroupModel" nillable="true" type="tns:ArrayOfPageVariableGroupModel" />
  <xs:complexType name="PageVariableGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageVariableGroupGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageVariableGroupModel" nillable="true" type="tns:PageVariableGroupModel" />
  <xs:complexType name="StandardTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IllustrationImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresenterMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="RadioGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="VideoGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardTemplatePageContentModel" nillable="true" type="tns:StandardTemplatePageContentModel" />
  <xs:complexType name="GetInfoTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FooterText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IllustrationImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageMode" type="tns:ImageModeEnum" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q8:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageQuestions" nillable="true" type="tns:ArrayOfPageQuestionModel" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImagePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresenterMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetInfoTemplatePageContentModel" nillable="true" type="tns:GetInfoTemplatePageContentModel" />
  <xs:complexType name="ChoosePreferencesTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPreferences" type="xs:int" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreferenceStatus" nillable="true" type="q9:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:ArrayOfPreferenceItemModel" />
      <xs:element minOccurs="0" name="PrimaryButtonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChoosePreferencesTemplatePageContentModel" nillable="true" type="tns:ChoosePreferencesTemplatePageContentModel" />
  <xs:complexType name="GraphTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadScoreRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodScoreRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GraphGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="GraphItem" nillable="true" type="tns:ArrayOfGraphItemModel" />
      <xs:element minOccurs="0" name="GraphType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediumScoreRange" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectStatus" nillable="true" type="q10:ArrayOfKeyValueOfguidModelStatuse4aVheFe" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ScoreRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphTemplatePageContentModel" nillable="true" type="tns:GraphTemplatePageContentModel" />
  <xs:complexType name="AccountCreationTemplatePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckBoxText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageOrder" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PageVariableGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="RepeatPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountCreationTemplatePageContentModel" nillable="true" type="tns:AccountCreationTemplatePageContentModel" />
  <xs:simpleType name="ResourceTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Video" />
      <xs:enumeration value="Audio" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Logo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResourceTypeEnum" nillable="true" type="tns:ResourceTypeEnum" />
  <xs:complexType name="ResourceListModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastSelectedResource" nillable="true" type="tns:ResourceModel" />
      <xs:element minOccurs="0" name="Resources" nillable="true" type="tns:ArrayOfResourceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceListModel" nillable="true" type="tns:ResourceListModel" />
  <xs:complexType name="ArrayOfResourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceModel" nillable="true" type="tns:ResourceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceModel" nillable="true" type="tns:ArrayOfResourceModel" />
  <xs:complexType name="ResourceCategoriesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfResourceCategoryModel" />
      <xs:element minOccurs="0" name="LastSelectedResourceCategory" type="ser:guid" />
      <xs:element minOccurs="0" name="LastSelectedResourceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceCategoriesModel" nillable="true" type="tns:ResourceCategoriesModel" />
  <xs:complexType name="ArrayOfResourceCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceCategoryModel" nillable="true" type="tns:ResourceCategoryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceCategoryModel" nillable="true" type="tns:ArrayOfResourceCategoryModel" />
  <xs:complexType name="ResourceCategoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceCategoryModel" nillable="true" type="tns:ResourceCategoryModel" />
  <xs:complexType name="EditSessionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsLiveProgram" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNeedHelpButton" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNeedReportButton" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSequences" nillable="true" type="tns:ArrayOfPageSequenceModel" />
      <xs:element minOccurs="0" name="ProgramGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramStatusGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditSessionModel" nillable="true" type="tns:EditSessionModel" />
  <xs:complexType name="ArrayOfPageSequenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageSequenceModel" nillable="true" type="tns:PageSequenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageSequenceModel" nillable="true" type="tns:ArrayOfPageSequenceModel" />
  <xs:complexType name="ArrayOfSimplePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimplePageContentModel" nillable="true" type="tns:SimplePageContentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimplePageContentModel" nillable="true" type="tns:ArrayOfSimplePageContentModel" />
  <xs:complexType name="SimplePageContentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterShowExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeShowExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Footer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequenceGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceOrder" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimplePageContentModel" nillable="true" type="tns:SimplePageContentModel" />
  <xs:simpleType name="VariableTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Program" />
      <xs:enumeration value="General" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VariableTypeEnum" nillable="true" type="tns:VariableTypeEnum" />
  <xs:complexType name="ArrayOfEditPageVariableModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditPageVariableModel" nillable="true" type="tns:EditPageVariableModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditPageVariableModel" nillable="true" type="tns:ArrayOfEditPageVariableModel" />
  <xs:complexType name="ArrayOfTranslationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslationModel" nillable="true" type="tns:TranslationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslationModel" nillable="true" type="tns:ArrayOfTranslationModel" />
  <xs:complexType name="TranslationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationModel" nillable="true" type="tns:TranslationModel" />
  <xs:complexType name="ProgramReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Langeuage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sessions" nillable="true" type="tns:ArrayOfSessionReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramReportModel" nillable="true" type="tns:ProgramReportModel" />
  <xs:complexType name="ArrayOfSessionReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionReportModel" nillable="true" type="tns:SessionReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionReportModel" nillable="true" type="tns:ArrayOfSessionReportModel" />
  <xs:complexType name="SessionReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="PageSequences" nillable="true" type="tns:ArrayOfPageSequenceReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionReportModel" nillable="true" type="tns:SessionReportModel" />
  <xs:complexType name="ArrayOfPageSequenceReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageSequenceReportModel" nillable="true" type="tns:PageSequenceReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageSequenceReportModel" nillable="true" type="tns:ArrayOfPageSequenceReportModel" />
  <xs:complexType name="PageSequenceReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Pages" nillable="true" type="tns:ArrayOfPageReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageSequenceReportModel" nillable="true" type="tns:PageSequenceReportModel" />
  <xs:complexType name="ArrayOfPageReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageReportModel" nillable="true" type="tns:PageReportModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageReportModel" nillable="true" type="tns:ArrayOfPageReportModel" />
  <xs:complexType name="PageReportModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfterShowExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeforeShowExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ButtonCaption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FooterText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageReportModel" nillable="true" type="tns:PageReportModel" />
</xs:schema>