TestChangeTech/UI/Silverlight/ChangeTech.Silverlight.DesignPage/Service References/ChangeTechWCFService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChangeTech.Models" />
  <xs:element name="ExportProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGUID" type="q2:guid" />
        <xs:element minOccurs="0" name="startDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeRelapse" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeProgramRoom" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeAccessoryTemplate" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeEmailTemplate" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeHelpItem" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeUserMenu" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeTipMessage" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeSpecialString" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProgramData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newText" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGUID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProgramDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportProgramDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CropImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="cropImageModel" nillable="true" type="q4:CropImageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CropImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="CropImageResult" nillable="true" type="q5:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCTPPPresenterImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="presenterImageGUID" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CTPPGUID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCTPPPresenterImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagePresenterImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pageUpdateForPageReview" nillable="true" type="q8:PageUpdateForPageReviewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPagePresenterImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageHasMoreReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionGuid" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PageSequenceGuid" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageHasMoreReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPageHasMoreReferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToScreenResultsTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q12:ScreenResultTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToScreenResultsTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToScreenResultsTemplatePageResult" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreenResultsTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="screenResultPage" nillable="true" type="q14:ScreenResultTemplatePageContentModel" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreenResultsTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditScreenResultTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditScreenResultTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditScreenResultTemplatePageContentModelResult" nillable="true" type="q16:EditScreenResultsTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnableHTML5NewUI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programguid" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnableHTML5NewUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEnableHTML5NewUIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageSequenceUsedInSameProgramButNotInSameSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sequenceGuid" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageSequenceUsedInSameProgramButNotInSameSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPageSequenceUsedInSameProgramButNotInSameSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeEditPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q20:guid" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSeqGuid" type="q21:guid" />
        <xs:element minOccurs="0" name="affectFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeEditPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BeforeEditPageSequenceResult" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPageGuidByPageSequenceAndOldPageGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newPageSequenceGuid" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPageGuidByPageSequenceAndOldPageGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetNewPageGuidByPageSequenceAndOldPageGuidResult" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pagesequenceGuid" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageSequenceResult" nillable="true" type="q27:PageSequenceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceGuid" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotUsedResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceGuid" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotUsedResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotUsedResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeDeletePageVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageVariableGuid" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeDeletePageVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeforeDeletePageVariableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePageVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PageVariableGUID" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePageVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelapsePageSequenceModelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelapsePageSequenceModelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetRelapsePageSequenceModelListResult" nillable="true" type="q34:ArrayOfRelapseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelapsePageSequenceModelListBySessionGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelapsePageSequenceModelListBySessionGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetRelapsePageSequenceModelListBySessionGuidResult" nillable="true" type="q36:ArrayOfRelapseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditStandTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditStandTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditStandTemplatePageContentModelResult" nillable="true" type="q37:EditStandardTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditGetInfoTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditGetInfoTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditGetInfoTemplatePageContentModelResult" nillable="true" type="q38:EditGetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPushPictureTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPushPictureTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditPushPictureTemplatePageContentModelResult" nillable="true" type="q39:EditPushPictureTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimerTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimerTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetTimerTemplatePageContentModelResult" nillable="true" type="q40:EditTimerTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetGraphTemplatePageContentModelResult" nillable="true" type="q41:EditGraphTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditChoosePreferenceTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditChoosePreferenceTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditChoosePreferenceTemplatePageContentModelResult" nillable="true" type="q42:EditChoosePreferencesTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMSTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetSMSTemplatePageContentModelResult" nillable="true" type="q43:EditSMSTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditExpressionGroupModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditExpressionGroupModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditExpressionGroupModelResult" nillable="true" type="q44:EditExpressionGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditExpressionModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditExpressionModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditExpressionModelResult" nillable="true" type="q45:EditExpressionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrograms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetProgramsResult" nillable="true" type="q46:ArrayOfProgramModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobURLWithSharedWriteAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobURLWithSharedWriteAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBlobURLWithSharedWriteAccessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckThumnailImageWhetherExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckThumnailImageWhetherExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckThumnailImageWhetherExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesSupportByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesSupportByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetLanguagesSupportByProgramResult" nillable="true" type="q48:ArrayOfLanguageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesNotSupportByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesNotSupportByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetLanguagesNotSupportByProgramResult" nillable="true" type="q50:ArrayOfLanguageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddRemoveStauts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q51:guid" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddRemoveStautsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddRemoveStautsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGUID" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProgramLanguageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProgramLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q54:guid" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lanaguegGUID" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProgramLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProgramLanguageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePushPicturesTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q56:PushPictureTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePushPicturesTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SavePushPicturesTemplatePageResult" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenResultsTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q58:ScreenResultTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScreenResultsTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveScreenResultsTemplatePageResult" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimerTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q60:TimerTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimerTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveTimerTemplatePageResult" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q62:SMSTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveSMSTemplatePageResult" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariableGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="groupModel" nillable="true" type="q64:EditPageVariableGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariableGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpressionGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="groups" nillable="true" type="q65:EditExpressionGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpressionGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="expresions" nillable="true" type="q66:EditExpressionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpressionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToStandardTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q67:guid" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q68:StandardTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToStandardTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToStandardTemplatePageResult" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToGetInfoTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q70:guid" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q71:GetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToGetInfoTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToGetInfoTemplatePageResult" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToChoosePreferenceTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q73:guid" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q74:ChoosePreferencesTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToChoosePreferenceTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToChoosePreferenceTemplatePageResult" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToGraphTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="graphPage" nillable="true" type="q77:GraphTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToGraphTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToGraphTemplatePageContentModelResult" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToAccountCreationTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q79:guid" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q80:AccountCreationTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToAccountCreationTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToAccountCreationTemplatePageResult" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToPushPicturesTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q82:guid" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q83:PushPictureTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToPushPicturesTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToPushPicturesTemplatePageResult" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToTimerTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q85:guid" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q86:TimerTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToTimerTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToTimerTemplatePageResult" type="q87:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToSMSTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="oldPageGuid" type="q88:guid" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q89:SMSTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChangedToSMSTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChangedToSMSTemplatePageResult" type="q90:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="expressionModel" nillable="true" type="q91:ExpressionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpressionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q92:guid" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Des" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="standardPage" nillable="true" type="q93:StandardTemplatePageContentModel" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q94:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePushPictureTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pushPicPage" nillable="true" type="q95:PushPictureTemplatePageContentModel" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePushPictureTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimerTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="timerPage" nillable="true" type="q97:TimerTemplatePageContentModel" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimerTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetInfoTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="getInfoPage" nillable="true" type="q99:GetInfoTemplatePageContentModel" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetInfoTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGraphTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="graphPage" nillable="true" type="q101:GraphTemplatePageContentModel" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGraphTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoosePreferencesTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="choosePreferencePage" nillable="true" type="q103:ChoosePreferencesTemplatePageContentModel" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoosePreferencesTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccoutCrationTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="accountPage" nillable="true" type="q105:AccountCreationTemplatePageContentModel" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q106:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccoutCrationTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="smsPage" nillable="true" type="q107:SMSTemplatePageContentModel" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceGuid" type="q109:guid" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceCategoryGuid" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourceEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="resourceModel" nillable="true" type="q111:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourceEntityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageVariableLastAccessTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageVariableGUID" type="q112:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageVariableLastAccessTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageMaterialsResult" nillable="true" type="q113:PageMaterials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="category" type="q114:guid" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="type" type="q115:ResourceTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetResourceNameResult" nillable="true" type="q116:ResourceListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="page" type="q117:guid" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q118:guid" />
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSequenceGuid" type="q119:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditPageModelResult" nillable="true" type="q120:EditPageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModelByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q121:guid" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q122:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModelByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditPageModelByProgramResult" nillable="true" type="q123:EditPageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetResourceCategoryResult" nillable="true" type="q124:ResourceCategoriesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionGuid" type="q125:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetSessionResult" nillable="true" type="q126:EditSessionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramLanguages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ProgramGuid" type="q127:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetProgramLanguagesResult" nillable="true" type="q128:ArrayOfLanguageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfPagesInPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sequenceGuid" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfPagesInPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountOfPagesInPageSequenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesOfPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSequenceGUID" type="q130:guid" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGUID" type="q131:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesOfPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPagesOfPageSequenceResult" nillable="true" type="q132:ArrayOfSimplePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfVariableByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q133:guid" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pageVariableType" type="q134:VariableTypeEnum" />
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupGuid" type="q135:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfVariableByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountOfVariableByProgramResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q136:guid" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pageVariableType" type="q137:VariableTypeEnum" />
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGUID" type="q138:guid" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupGuid" type="q139:guid" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageVariableByProgramResult" nillable="true" type="q140:ArrayOfEditPageVariableModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionGroupsOfProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q141:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionGroupsOfProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetExpressionGroupsOfProgramResult" nillable="true" type="q142:ArrayOfExpressionGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableGroupForProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q143:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableGroupForProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageVariableGroupForProgramResult" nillable="true" type="q144:EditPageVariableGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionsOfGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expressionGroupGuid" type="q145:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionsOfGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetExpressionsOfGroupResult" nillable="true" type="q146:ArrayOfExpressionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionsOfProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q147:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionsOfProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetExpressionsOfProgramResult" nillable="true" type="q148:ArrayOfExpressionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferencesInfoOfImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceGuid" type="q149:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferencesInfoOfImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetReferencesInfoOfImageResult" nillable="true" type="q150:ArrayOfProgramImageReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslateByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q151:guid" />
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" type="q152:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslateByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetTranslateByProgramResult" nillable="true" type="q153:ArrayOfTranslationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programguid" type="q154:guid" />
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageguid" type="q155:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetProgramReportResult" nillable="true" type="q156:ProgramReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q157:guid" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGuid" type="q158:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFistSessionOfProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q159:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFistSessionOfProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetFistSessionOfProgramResult" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q161:guid" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q162:guid" />
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q163:StandardTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveStandardTemplatePageResult" type="q164:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q165:guid" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryDes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGetInfoTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q166:GetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGetInfoTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveGetInfoTemplatePageResult" type="q167:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pageVariable" nillable="true" type="q168:EditPageVariableModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChoosePreferenceTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="choosePreferencePage" nillable="true" type="q169:ChoosePreferencesTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChoosePreferenceTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChoosePreferenceTemplatePageContentModelResult" type="q170:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="graphPage" nillable="true" type="q171:GraphTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveGraphTemplatePageContentModelResult" type="q172:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountCreationTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q173:AccountCreationTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountCreationTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveAccountCreationTemplatePageResult" type="q174:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>