TestChangeTech/UI/Silverlight/ChangeTech.Silverlight.DesignPage/Service References/ChangeTechWCFService/Service54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChangeTech.Models" />
  <xs:import schemaLocation="http://localhost:41265/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SavePageVariableGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="groupModel" nillable="true" type="q1:EditPageVariableGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariableGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditStandTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditStandTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditStandTemplatePageContentModelResult" nillable="true" type="q2:EditStandardTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditGetInfoTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditGetInfoTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditGetInfoTemplatePageContentModelResult" nillable="true" type="q3:EditGetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPushPictureTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPushPictureTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditPushPictureTemplatePageContentModelResult" nillable="true" type="q4:EditPushPictureTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimerTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimerTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetTimerTemplatePageContentModelResult" nillable="true" type="q5:EditTimerTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetGraphTemplatePageContentModelResult" nillable="true" type="q6:EditGraphTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditChoosePreferenceTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditChoosePreferenceTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditChoosePreferenceTemplatePageContentModelResult" nillable="true" type="q7:EditChoosePreferencesTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageMaterialsResult" nillable="true" type="q8:PageMaterials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="category" type="q9:guid" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetResourceNameResult" nillable="true" type="q10:ResourceListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="page" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="language" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSequenceGuid" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEditPageModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetEditPageModelResult" nillable="true" type="q15:EditPageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetResourceCategoryResult" nillable="true" type="q16:ResourceCategoriesModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionGuid" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetSessionResult" nillable="true" type="q18:EditSessionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramLanguages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ProgramGuid" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetProgramLanguagesResult" nillable="true" type="q20:ArrayOfLanguageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfPagesInPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sequenceGuid" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfPagesInPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountOfPagesInPageSequenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesOfPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSequenceGUID" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="languageGUID" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesOfPageSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPagesOfPageSequenceResult" nillable="true" type="q24:ArrayOfSimplePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableByProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGUID" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="langauageGUID" type="q26:guid" />
        <xs:element minOccurs="0" name="pageVariableType" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGUID" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableByProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageVariableByProgramResult" nillable="true" type="q28:ArrayOfEditPageVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q30:guid" />
        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newpage" nillable="true" type="q31:StandardTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveStandardTemplatePageResult" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q33:guid" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryDes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGetInfoTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q34:GetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGetInfoTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveGetInfoTemplatePageResult" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pageVariable" nillable="true" type="q36:EditPageVariable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePageVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChoosePreferenceTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="choosePreferencePage" nillable="true" type="q37:ChoosePreferencesTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChoosePreferenceTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveChoosePreferenceTemplatePageContentModelResult" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="graphPage" nillable="true" type="q39:GraphTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGraphTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveGraphTemplatePageContentModelResult" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountCreationTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q41:GetInfoTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountCreationTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveAccountCreationTemplatePageResult" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePushPicturesTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q43:PushPictureTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePushPicturesTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SavePushPicturesTemplatePageResult" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimerTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="newPage" nillable="true" type="q45:TimerTemplatePageContentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimerTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SaveTimerTemplatePageResult" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q47:guid" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Des" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="standardPage" nillable="true" type="q48:StandardTemplatePageContentModel" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePushPictureTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="pushPicPage" nillable="true" type="q50:PushPictureTemplatePageContentModel" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePushPictureTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimerTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="timerPage" nillable="true" type="q52:TimerTemplatePageContentModel" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimerTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetInfoTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="getInfoPage" nillable="true" type="q54:GetInfoTemplatePageContentModel" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetInfoTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGraphTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="graphPage" nillable="true" type="q56:GraphTemplatePageContentModel" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGraphTemplatePageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoosePreferencesTemplatePageContentModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="choosePreferencePage" nillable="true" type="q58:ChoosePreferencesTemplatePageContentModel" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageGuid" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChoosePreferencesTemplatePageContentModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageSequenceUsedInSameProgramButNotInSameSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sequenceGuid" type="q60:guid" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPageSequenceUsedInSameProgramButNotInSameSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPageSequenceUsedInSameProgramButNotInSameSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeEditPageSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionGuid" type="q62:guid" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pageSeqGuid" type="q63:guid" />
        <xs:element minOccurs="0" name="affectFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeforeEditPageSequenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceGuid" type="q64:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categoryGuid" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePageVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PageVariableGUID" type="q66:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePageVariableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableGroupForProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programGuid" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageVariableGroupForProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/ChangeTech.Models" minOccurs="0" name="GetPageVariableGroupForProgramResult" nillable="true" type="q68:EditPageVariableGroupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>